## Data loading and cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 100)
import warnings
warnings.filterwarnings("ignore")

### Cleaning train set

In [2]:
train = pd.read_csv("Data/train.csv", sep = ',')
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Id
0,1,5,2015-07-17,4852,519,1,1,0,0,303445
1,2,5,2015-07-17,4518,495,1,1,0,1,959585
2,3,5,2015-07-17,6679,673,1,1,0,1,739744
3,4,5,2015-07-17,10514,1343,1,1,0,1,864001
4,5,5,2015-07-17,4355,513,1,1,0,1,981931

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446858 entries, 0 to 446857
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Store          446858 non-null  int64
 1   DayOfWeek      446858 non-null  int64
 2   Date           446858 non-null  object
 3   Sales          446858 non-null  int64
 4   Customers      446858 non-null  int64
 5   Open           446858 non-null  int64
 6   Promo          446858 non-null  int64
 7   StateHoliday   446858 non-null  object
 8   SchoolHoliday  446858 non-null  int64
 9   Id             446858 non-null  int64
dtypes: int64(8), object(2)
memory usage: 34.1+ MB

In [4]:
# les valeurs uniques de train
train.nunique()

Store              1115
DayOfWeek             7
Date                431
Sales             19022
Customers          3770
Open                  2
Promo                 2
StateHoliday          5
SchoolHoliday         2
Id               361364
dtype: int64

We have 10 variables including 4 categorical variables (Promo, Open, StateHoliday, SchoolHoliday)

### Encoding of categorical values

In [5]:
# let's check the modality of each variable
train['DayOfWeek'].unique()
train['Promo'].unique()
train['Open'].unique()
train['SchoolHoliday'].unique()
train['StateHoliday'].unique()

array(['0', 'a', 'b', 0, 'c'], dtype=object)

StoreType a, b, c, d
Assortment a = de base, c = élargi
Promo2 0 = promo,  1 = pas de promo
StateHoliday a = jour férié, b = fête de Pâques, c = Noel, 0
SchoolHoliday 0, 1
Open 0, 1

All categorical variables are well encoded except 'StateHoliday', so we will transform it

In [6]:
train['StateHoliday'] = train['StateHoliday'].map({'0':0, 0:0,'a':1,'b':2,'c':3})
# vérifions les modalités de StateHoliday
train['StateHoliday'].unique()

array([0, 1, 2, 3], dtype=int64)

### Cleaning test set

In [7]:
# read
test = pd.read_csv("Data/test.csv", sep = ',')
test.head()

,Id,Store,DayOfWeek,Date,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,879066,1,5,2015-07-31,555,1,1,0,1
1,37135,2,5,2015-07-31,625,1,1,0,1
2,285919,3,5,2015-07-31,821,1,1,0,1
3,744348,4,5,2015-07-31,1498,1,1,0,1
4,556250,5,5,2015-07-31,559,1,1,0,1

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1115 non-null   int64
 1   Store          1115 non-null   int64
 2   DayOfWeek      1115 non-null   int64
 3   Date           1115 non-null   object
 4   Customers      1115 non-null   int64
 5   Open           1115 non-null   int64
 6   Promo          1115 non-null   int64
 7   StateHoliday   1115 non-null   int64
 8   SchoolHoliday  1115 non-null   int64
dtypes: int64(8), object(1)
memory usage: 78.5+ KB

In [9]:
# les valeurs uniques de train
test.nunique()

Id               1115
Store            1115
DayOfWeek           1
Date                1
Customers         653
Open                2
Promo               1
StateHoliday        1
SchoolHoliday       2
dtype: int64

In [10]:
# We will repeat the same transformations and encoding operations for the test set if necessary
test['DayOfWeek'].unique()
test['Promo'].unique()
test['Open'].unique()
test['SchoolHoliday'].unique()
test['StateHoliday'].unique()

array([0], dtype=int64)

Everything is ok

### Cleaning Rossman_store set

In [11]:
# Read
store = pd.read_csv('Data/Rossman_store.csv', sep = ';')
store = store.iloc[:,:-1]
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [12]:
store.info()
print ('--------------------')
print(store.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB
--------------------
Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
dtype: object

In [13]:
# traitement des valeurs manquantes
print(store.isnull().sum(), '\n')

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [14]:
store['Promo2SinceYear'] = store['Promo2SinceYear'].fillna(store['Promo2SinceYear'].mode().iloc[0])
store['Promo2SinceWeek'] = store['Promo2SinceWeek'].fillna(0)
store['PromoInterval'] = store['PromoInterval'].fillna(store['PromoInterval'].mode().iloc[0])
store['CompetitionOpenSinceMonth'] = store['CompetitionOpenSinceMonth'].fillna(store['CompetitionOpenSinceMonth'].mode().iloc[0])
store['CompetitionOpenSinceYear'] = store['CompetitionOpenSinceYear'].fillna(store['CompetitionOpenSinceYear'].mode().iloc[0])
store['CompetitionDistance'] = store['CompetitionDistance'].fillna(store['CompetitionDistance'].max())

In [15]:
store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,0.0,2011.0,"Jan,Apr,Jul,Oct"
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,0.0,2011.0,"Jan,Apr,Jul,Oct"
4,5,a,a,29910.0,4.0,2015.0,0,0.0,2011.0,"Jan,Apr,Jul,Oct"
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,0.0,2011.0,"Jan,Apr,Jul,Oct"
1112,1113,a,c,9260.0,9.0,2013.0,0,0.0,2011.0,"Jan,Apr,Jul,Oct"
1113,1114,a,c,870.0,9.0,2013.0,0,0.0,2011.0,"Jan,Apr,Jul,Oct"
1114,1115,d,c,5350.0,9.0,2013.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [16]:
# vérifions les valeurs null
store.isnull().sum()

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

### Gestion des valeurs catégorielles de store

In [17]:
# 4 variables catégorielles à gérer (StoreType, Assortment, PromoInterval)
store['StoreType'].unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [18]:
# StoreType contient 4 modalités nous allons les remplacer par 1, 2, 3 et 4
store['StoreType'] = store['StoreType'].map({'a':1,'b':2,'c':3,'d':4})

In [19]:
# Nous avons également 3 assortiments de produits nous les remplaçons par 0, 1 et 2
store['Assortment'].unique()

array(['a', 'c', 'b'], dtype=object)

In [20]:
store['Assortment'] = store['Assortment'].map({'a':0,'b':1,'c':2})

In [21]:
# les intervalles de promotion seront également remplacés dans l'ordre par 0, 1, 2
store['PromoInterval'].unique()

array(['Jan,Apr,Jul,Oct', 'Feb,May,Aug,Nov', 'Mar,Jun,Sept,Dec'],
      dtype=object)

In [22]:
store['PromoInterval']= store['PromoInterval'].map({'Jan,Apr,Jul,Oct':0, 'Feb,May,Aug,Nov':1,'Mar,Jun,Sept,Dec':2})

In [23]:
store.dtypes

Store                          int64
StoreType                      int64
Assortment                     int64
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                  int64
dtype: object

In [24]:
store.nunique()

Store                        1115
StoreType                       4
Assortment                      3
CompetitionDistance           654
CompetitionOpenSinceMonth      12
CompetitionOpenSinceYear       23
Promo2                          2
Promo2SinceWeek                25
Promo2SinceYear                 7
PromoInterval                   3
dtype: int64

In [31]:
# Avant de procéder aux analyses, nous allons fusionner les données
#store + trainset

In [32]:
store_train = store.merge(train,on=['Store'],how = 'left')

In [33]:
# la variable 'Open' a comme catégorie 0 = fermé et 1 = ouvert
# nous allons regardé que les magasins qui sont ouverts. il serait donc pertinant de filtrer les datasets sur ouvert.

# store_train
store_train = store_train[store_train['Open'] == 1]

#Nous allons créer de nouvelle colonne de Mois, années, jour, jour de la semaine, 
#afin d'analyser les ventes selon ces variables

store_train.Date = pd.to_datetime(store_train.Date)
store_train['année'] = store_train['Date'].dt.year
store_train['mois'] = store_train['Date'].dt.month
store_train['jour'] = store_train['Date'].dt.day
store_train['jr sem'] = store_train['Date'].dt.weekday

store_train= store_train.drop(['Open'], axis = 1)